@using EntiyLayers
@model NoteUser

@{
    ViewBag.Title = "Profiliniz";
}


<div class="container">

    <div class="row text-center">
        <h2>@ViewBag.Title</h2>
        <hr />
    </div>

    <div class="row">

        <div class="col-md-2">
            <img src="~/images/@Model.ProfileImageFileName" class="img-circle" width="128" height="128" />
        </div>

        <div class="col-md-10">
            <h3>@(Model.Name + " " + Model.Surname)</h3>
            <br />
            <h5><b>@Html.DisplayNameFor(model => model.UserName) </b>@Model.UserName</h5>
            <h5><b>@Html.DisplayNameFor(model => model.Email) : </b>@Model.Email</h5>
            <br />
            <a href="/Home/EditProfile"><span class="glyphicon glyphicon-edit" style="color: #5cb85c"></span>Profili Düzenle</a></li>
        </div>
    
    </div>
</div>


